<h2>Enter a space-separated string (e.g. "A B C D")</h2>

<%= form_tag("/welcome/index", method: "post") do %>
  <%= label_tag :input %>: <%= text_field_tag :input %>
  <p>
    <%= submit_tag("Transform") %>
  </p>
<% end %>

<% if @output %>
  <% @output.each do |word| %>
    <%= word %>
  <% end %>
<% end %>
